    <div class="slides-status-bar">
        <div class="status-left">
            <span id="slideInfo">Slide 1 of 1</span>
        </div>
        <div class="status-center">
            <span id="saveStatus">Saved</span>
        </div>
        <div class="status-right">
            <div class="zoom-control">
                <button class="btn-zoom" id="zoomOutBtn">−</button>
                <span id="zoomLevel">100%</span>
                <button class="btn-zoom" id="zoomInBtn">+</button>
            </div>
        </div>
    </div>
</div>
