<div class="context-menu hidden" id="contextMenu">
    <div class="context-item" data-action="cut">
        Cut <span class="shortcut">Ctrl+X</span>
    </div>
    <div class="context-item" data-action="copy">
        Copy <span class="shortcut">Ctrl+C</span>
    </div>
    <div class="context-item" data-action="paste">
        Paste <span class="shortcut">Ctrl+V</span>
    </div>
    <div class="context-divider"></div>
    <div class="context-item" data-action="duplicate">
        Duplicate <span class="shortcut">Ctrl+D</span>
    </div>
    <div class="context-item" data-action="delete">
        Delete <span class="shortcut">Del</span>
    </div>
    <div class="context-divider"></div>
    <div class="context-item" data-action="bringFront">Bring to Front</div>
    <div class="context-item" data-action="sendBack">Send to Back</div>
</div>

<div class="context-menu hidden" id="slideContextMenu">
    <div class="context-item" data-action="newSlide">New Slide</div>
    <div class="context-item" data-action="duplicateSlide">Duplicate Slide</div>
    <div class="context-item" data-action="deleteSlide">Delete Slide</div>
    <div class="context-divider"></div>
    <div class="context-item" data-action="slideBackground">
        Change Background
    </div>
    <div class="context-item" data-action="slideNotes">Speaker Notes</div>
</div>
