<div class="presenter-modal hidden" id="presenterModal">
    <div class="presenter-view">
        <div class="presenter-slide" id="presenterSlide"></div>
        <div class="presenter-controls">
            <button class="btn-icon" id="prevSlideBtn" title="Previous Slide">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <polygon points="15 18 9 12 15 6 15 18"></polygon>
                </svg>
            </button>
            <span class="presenter-slide-number" id="presenterSlideNumber"
                >1 / 1</span
            >
            <button class="btn-icon" id="nextSlideBtn" title="Next Slide">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                >
                    <polygon points="9 18 15 12 9 6 9 18"></polygon>
                </svg>
            </button>
            <button class="btn-icon" id="exitPresenterBtn" title="Exit (Esc)">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                >
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>
    </div>
</div>
